<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
       
    
    
    <bean id="entityManagerFactory" class=
       "org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
<!--      <property name="loadTimeWeaver"> -->
<!--         <bean class= -->
<!--  "org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/> -->
	<!--       </property> -->
		<property name='dataSource' ref='dataSource' />
		<property name="jpaPropertyMap">
			<map>
				<entry key="eclipselink.weaving" value="false" />
			</map>
		</property>
      <property name="persistenceUnitName" value="PhoneBook"/>
  </bean>
  <bean id="jpaAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter"/>
  <!-- Add Transaction support -->
  <bean id="txManager"
     class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>
  
 <!-- This defines the db data source -->
  <bean id='dataSource' 
      class='org.springframework.jdbc.datasource.DriverManagerDataSource'>
    <property name='driverClassName' value='org.postgresql.Driver' />
    <property name='url' value='jdbc:postgresql://localhost:5432/postgres' />
    <property name='username' value='postgres' />
    <property name='password' value='root' />
  </bean>
  <!-- Use @Transaction annotations for managing transactions -->
  <tx:annotation-driven transaction-manager="txManager" />
    
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <mvc:annotation-driven />
    <!-- This block contains the beans -->
    <context:component-scan base-package="com.phoneBook" />
    <context:annotation-config />
    <bean id="contactDAO" class="com.phonebook.dao.ContactDAOImpl" autowire="byName"/>
	
	<bean id="manageContact" class="com.phonebook.bs.ManageContactImpl" autowire="byName"></bean>
	
	<bean id="contactService" class="com.phonebook.services.ContactService" autowire="byName"></bean>
	
</beans>